<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/IMG20220129123732.jpg" alt="Profile Pict" class="img-thumbnail rounded-pill" width="150px">
            <h1 class="display-4">Muhammad Mujahid</h1>
            <p class="lead">Programmer Gonna Be | Noob Gamer</p>
        </div>
    </div>
</div>